* {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: sans-serif;
    min-width: 250px;
}

h1{
    margin-top: 62px;
}
h1 > small{
    display: block;
}
#social_media {
    width: 40px;
    background: transparent;
    position: fixed;
    top: 200px;
    z-index: 7000;
}
#social_media a{
    text-decoration: none;
}

#copywright {
    height: 2rem;
}
@media screen and (max-width: 800px) {
    #social_media {
        width: auto;
        position: absolute;
        bottom: 0;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}
    #copywright {
        height: 5rem;
    }

@media screen and (min-width: 992px) and (max-width:1030px) {
    #social_media {
        width: auto;
        position: absolute;
        bottom: 0;
        top: auto;
        left: 50%;
        transform: translateX(-50%);

    }
    #copywright {
        height: 5rem;
    }
}
#tekst {
    width: 100%;
    height: 100%;
}

.contact_form_list:first-child {
    padding-right: 8px;
}
.contact_form_list {
    padding: 8px 0;
}
.img-logo {
    width: 200px;
    height: 50px;
}

.navbar-default
{
    background: #f0f0f0;
    font-size: 20px;
    z-index: 1000000000;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0 0;
}
.navbar-default .navbar-nav>li>a
{
    color: #000a91;
}
.navbar-default .navbar-nav>li>a:hover
{
    color: #000a91;
    background-color: #fff;

}
.navbar-default .navbar-nav>li>a:active
{
    color: #af000a;
    background-color: #fff;
}
#hero {
    position: relative;
}
.hero-content {
    height:  100%;
    position: relative;
    text-align: center;
    color: #004276;
    z-index: 100000000;
}
.hero-text, .hero-content > a {
    transform: translate(0px,35vh);
}

#features > .col-lg-12 .top1 > .col-lg-6 .col-md-6 .col-sm-6 .col-xs-12 {
    position: relative;
}
#features i.fa {
    position: absolute;
    top: 15px;
    right: 15px;
}

#cookieInfo{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f0f0f0;
    color: black;
    z-index: 1000;
    opacity: 0.9;
}
#cookieInfo p{
    padding: 10px 30px;
}
#cookieInfo span{
    position: absolute;
    font-size: 22px;
    color: black;
    cursor: pointer;
    display: block;
    right: 10px;
    top: 10px;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 1);
}

.map {
    max-width: 100%;
    max-height: 300px;
}
.thumbnail img {
    width: 252.500px;
    height: 167.688px;
}
#contact .btn {
padding: 8px 30px;
margin: 5px;
}

footer {
    background-color: #e7e7e7;
    font-family: sans-serif;
    font-size: smaller;
    margin-top: 25px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 1024px) {

    .hero-text, .hero-content > a {
        transform: translate(0px, 40vh)
    }}
@media only screen and (min-width: 1025px) {

    .hero-text, .hero-content > a {
        transform: translate(0px, 55vh)
    }
    .zoom {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        cursor: -webkit-zoom-in;
        cursor: -moz-zoom-in;
        cursor: zoom-in;
    }

    .zoom:hover,
    .zoom:active,
    .zoom:focus {
        /**adjust scale to desired size,
        add browser prefixes**/
        -ms-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
        position:relative;
        z-index:100;
    }
}
#contact_info {
    background-color: rgba(240, 240, 240, 0.5);
    position: absolute;
    left: 10.6%;
    top: 0;
    right: 10.5%;
    text-align: left;
    transition: background-color .5s ease-in-out;
}
#contact_info:hover {
    background-color: rgba(240, 240, 240, 1);
}
img.map {
    position: relative;
}
hr.separator {
    margin-bottom: 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.thumbnail {
    height: 51rem;
}
#authors .thumbnail .btn {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
}

footer p {
    text-align: center;
}
#footer_menu a {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}
#footer_menu a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #337ab7;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}
#footer_menu a:active, #footer_menu a:focus, #footer_menu a:hover {
    color: #fff;
}
#footer_menu a:active:before, #footer_menu a:focus:before, #footer_menu a:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
@media screen and (min-width:615px) and (max-width:991px) {
    #contact_info {
        left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .thumbnail {
        height: 62rem;
    }
}
@media(max-width:768px) {
    .navbar-default {
        background: #f0f0f0;
        font-size: 14px;
    }

    footer {
        text-align: center;
    }
    .thumbnail {
        height:48rem;
    }
}

#topBtn {
    opacity: 0;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    transition: opacity .5s ease-in-out;
}
#topBtn.active {
    color: rgb(51,122,183);
    opacity: 0.8;
}
#topBtn.active:hover {
    color: rgb(35,80,120);
    opacity: 1;
}
/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}
@keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}
.hvr-buzz-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.hvr-round-corners {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: border-radius;
    transition-property: border-radius;
}
.hvr-round-corners:hover, .hvr-round-corners:focus, .hvr-round-corners:active {
    border-radius: 1em;
}
/*.zoom {*/
    /*-webkit-transition: all 0.35s ease-in-out;*/
    /*-moz-transition: all 0.35s ease-in-out;*/
    /*transition: all 0.35s ease-in-out;*/
    /*cursor: -webkit-zoom-in;*/
    /*cursor: -moz-zoom-in;*/
    /*cursor: zoom-in;*/
/*}*/

/*.zoom:hover,*/
/*.zoom:active,*/
/*.zoom:focus {*/
    /*!**adjust scale to desired size,*/
    /*add browser prefixes**!*/
    /*-ms-transform: scale(1.5);*/
    /*-moz-transform: scale(1.5);*/
    /*-webkit-transform: scale(1.5);*/
    /*-o-transform: scale(1.5);*/
    /*transform: scale(1.5);*/
    /*position:relative;*/
    /*z-index:100;*/
/*}*/
