* {
    box-sizing: border-box;
}
.top1 {
    height: 100px;
}
#social_media {
    width: 100px;
    height: 100px;
    background: rgb(240, 240, 240);
}
#tekst {
    width: 500px;
    height: 300px;
    border: 1px solid red;
}
.contact_form {
    width:500px;
}
#contact_form {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.contact_form_list {
    padding: 8px 0 8px 25px;
}
.img-logo { /* TODO czy używać klasy tylko do jednego logo? */
    width: 200px;
    height: 50px;
}

.navbar-default
{
    background: #f0f0f0;
    font-size: 20px;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0 0;
}
.navbar-default .navbar-nav>li>a
{
    color: #000a91;
}
.navbar-default .navbar-nav>li>a:hover
{
    color: #000a91;
    background-color: #fff;

}
.navbar-default .navbar-nav>li>a:active /* TODO nie działa   */
{
    color: #af000a;
    background-color: #fff;

}
#funkcje .poziomy > .col-6 {
    position: relative;
}
#funkcje .poziomy i.fa {
    position: absolute;
    top: 15px;
    right: 15px;
}

